/* css Manu scetion Start */
 h1,h2,h3,h4,h5,h6,p,small,span,ol,ul{
    margin: 0;
    padding: 0;
 } 
 a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
#myNav{
    background-color: #498f8b;
}
body{
    font-family: "Open Sans", sans-serif;
}
#myNav #myManu ul li a{
font-size: 12px;
font-weight: 800;
color: #fff;
padding: 21px 25px;
text-transform:uppercase;
transition: 0.7s;
}
#myNav #myManu ul li:hover a{
    background: #cfc91d;
    color: #000;
}

/* css Manu scetion End */

/* Banner Scetion Start */
#banner{
    background-image: url(../img/banner_bg\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    height: 728px;
    position: relative;
    z-index: 1;
}
#banner::after{
    background-color: #000;
    position: absolute;
   content: "";
  inset: 0;
   opacity: 0.66;
   z-index: -1;
}
.banner_content{
    color: #fff;
}
.banner_content h3{
    font-size: 30px;
    font-weight: 400;
    
}
.banner_content h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
}
.banner_content p{
    font-size: 18px;
}
#banner .banner_content img {
    margin: 50px auto;
  }
.banner_content a{
    font-size: 14px;
    font-weight: 800;
    background-color:#cfc91d;
    text-transform: uppercase;
    color: #0b1016;
    display: inline-block;
    padding: 19px 42px;
   

}
/* Banner Scetion End */